body { background-color: #Fffae7; } /* color fondo pag*/

img{
        display:block;
        margin:auto;
}

.menu ul {
       align-items: center;
       list-style: none;
       margin: 0% ;
       padding: 0;
}

.menu li {
        float:left;
        color: #044552;
        text-decoration: none;
        display: block;
        padding: 12px 26px;
        align-items: center;
}

.contenedor {
        width:90%;
        max-width: width 1000px;
        padding: 40px 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}


.bienvenida {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.bienvenida h1 {
        color: #044552;
        font-weight:lighter;
        font-size: 60px;
        font-family:Arial Narrow Bold;
        font-style: italic;
        text-transform:none;
        align-items: center;
}

.bienvenida h2 {
        color: #0e0c0c;
        font-weight:lighter;
        font-size: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: none;
        align-items: center;
}

.boton_personalizado {
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  color: #Fffae7;
  background-color: #31707D;
  border-radius: 6px;
  border: 2px solid #134280;
  padding: 10px 50px;
  margin-bottom: 100px;
  width: 50%;
  justify-content: center;
}


.footer {
        bottom: 0pc;
        position: fixed;
        width: 100%;
        height: 50px;
        color: #044552;
        font-family:Arial Narrow Bold;
        font-style: italic;
        align-items: center;
}